

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    border: solid;

    background-color: aqua;

}

.btn {
    margin: 5px;
}